// font families
$rod-text-body: 'Open Sans', Helvetica, Arial, sans-serif
// $rod-text-heading: 'Times New Roman', Georgia, serif
$rod-text-heading: 'Cormorant Garamond', Georgia, serif

// colors
$rod-color-text: #333
