#ui
	padding: 45px 85px
	header
		width: 100%
		margin-top: 0px
		vertical-align: bottom
		.title
			+no-margin-padding
			display: block
			height: 94px
			box-sizing: content-box
			margin-bottom: 17px
			> *
				display: inline-block
			h1
				float: left
				font-size: 84px
				height: 94px
			h3
				font-size: 24px
				line-height: 32px
				margin-top: 26px
				width: 40%
				text-align: right
				float: right
		ul
			+no-margin-padding
			+rod-panel
			display: block
			clear: both
			height: 40px
			box-sizing: border-box
			list-style: none
			width: 100%
			li
				+no-margin-padding
				+header-height(38px)
				font-size: 16px
				padding: 0px 15px
				cursor: pointer
				color: #555
				transition: background .5s, box-shadow .7s
				&:not(:first-child)
				&:hover
					color: #333
					background: lighten(#cfe5cc, 3%)
					box-shadow: inset 0px 0px 5px #ccc
